<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" [routerLink]='["/home"]'>Challenge Aplication</a>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]='["/evento-adicionar"]'>Adicionar eventos</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" [routerLink]='["/evento-listar"]'>Listar eventos</a> 
        </li>
      </ul>
    </div>
  </nav>